.gradle/
.kotlin/
.next/
.wireit/
bin/
build/
coverage/
dist/
generated/
node_modules/
.env*
.DS_Store
next-env.d.ts
*.local.json
*.tsbuildinfo

# IDE
.idea/
.vscode/
.project
.classpath
.settings/
*.iml
