<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty scope="context" name="appName" source="spring.application.name" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>loggedAt</fieldName>
          <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</pattern>
        </timestamp>
        <logLevel>
          <fieldName>severity</fieldName>
        </logLevel>
        <message>
          <fieldName>msg</fieldName>
        </message>
        <mdc/>
        <arguments/>
        <stackTrace/>
        <pattern>
          <pattern>{"app":"${appName}"}</pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
